<h2>User Management</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{ this.id }}</td>
      <td>{{ this.name }}</td>
      <td>{{ this.email }}</td>
      <td>
        <a href="/admin/block/{{ this.id }}">Block</a> |
        <a href="/admin/delete/{{ this.id }}">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>